video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.hero-container h1{
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}
.hero-container p{
    color:#fff;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btns{
    margin-top: 10px;
    margin-left: 10px;
}
.btns i{
    margin-left: 6px;
    font-size: 25px;
    line-height: 25px;
    vertical-align: middle;
}
@media(max-width: 1025px){
    .hero-container h1{
        font-size: 70px;
        margin-top: -70px;
    }
}
@media(max-width: 730px){
    .hero-container h1{
        font-size: 30px;
        margin-top: -30px;
    }
    .hero-container p{
        color:#fff;
        font-size: 25px;
    }
    .btns{
        margin-left: 0px;
        display: block;
        width: 100%;
    }
    a{
        text-decoration: none;
    }
}
